.wrapper{
    width: 1400px;
}
.container{
    margin: 100px 140px;
}
.uppercase{
    text-transform: uppercase;
    font-weight: 100;
    font-style: normal;
    font-family: Arial Narrow, sans-serif;
}
.block{
    text-align: center;
    margin: auto;
}
.block>.intro-text{
    padding: 10px;
    margin-bottom: 70px;

}
.delimiter{
    margin: 10px auto;
    height: 1px;
    display: block;
    background: #f98939;
    width: 40px;
}
.item{
    display: inline-block;
    width: 350px;
}
.item >i{
    width: 35px;
    color: #f98939;
    padding: 20px;
    border: 3px solid #f98939;
    border-radius: 50%;
}
.grey-text{
    color: #C0C0C0;
}