@media (max-width: 1200px) {
    .container{
        width: 960px;
    }
    .block{
        width: 300px;
    }

}
@media (max-width: 992px) {
    .container{
        width: 720px;
    }
    .description {
        width: 100%;
       margin-bottom: 10px;
    }
    .tab-content{
        flex-direction: column-reverse;
    }
    .top_container, .flex_form, .pricing_items {
        flex-direction: column;
        align-items: center;
    }
    .left, .right{
        width: 100%;
    }
    .top-form{
        margin-top: 10px;
        width: 100%;
    }
    .block{
        width: 100%;
    }
    .item{
        width: 300px;
        margin: 10px 0 10px 5px;
    }


    .media_text {
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .media_icons i{
        padding-left: 0;
    }
}
@media screen and (max-width: 767px) {
    .container{
        width: 80%;
    }
    .burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .burger span{
        top: 9px;
    }
    .burger:before, .burger:after, .burger span{
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .burger:before, .burger:after{
        content: '';
    }
    .burger:before{
        top: 0;
    }
    .burger:after{
        bottom: 0;
    }
    .menu{
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 63px;
      
       
        background-color: #ffff;
        width: 100vw;
        align-items: center;
        /* height: 100vh; */
    }
    .menu_item{
        padding: 10px 0;
        width: 100vw;
        text-align: center;
        border-bottom: 1px solid orangered;
        
    }
    .menu_item a{
        color: orangered;
    }


    .media_icons {
        display: flex;
        justify-content: space-between;
    }
    .tab-content {
        margin-left: 5%;
    }
    .tab-content-img {
         padding-left: 0;
    }
    .pricing_item {
        width: 100%;
    }
}